# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
requests
#Libraries for getting data from LogAnalytics
azure-monitor-query
azure-identity
azure-storage-file-share==12.10.0
azure-monitor-ingestion
azure-data-tables
werkzeug>=3.1.4 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
